input, select {
    width: 100%;
    padding: 5px;
    margin: 5px 5px 5px 0px;
    box-sizing:border-box;
    
}
body {
    background-color:lightblue;
    background-image: url(TolkienTree.jpg);
    background-repeat:no-repeat;
    background-blend-mode:overlay;
    background-position:center; 
}

h1 {
    text-align: center;
}

h2 {
    text-align:center;
}



.visually-hidden {
    opacity: 0.5;
    font-weight:900;
    color:blue;
}

#submit-order {
    background-color: black;
    color:yellow;
}